main .Culture {
    display: flex;
    justify-content: space-between;
}

.Culture {
    width: 100%;
    height: auto;
    padding-left: 50px;
}

.sideContent {
    width: 23%;
}

.sideContent .heading h6 {
    background-color: #000;
}

.culture .box {
    background-color: #fff;
    display: flex;
    /* #18  copy*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
    margin: 15px 15px 15px 0;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}

.culture {
    width: 75%;
    padding: 30px;
}

.culture .images {
    position: relative;
    height: 150px;
}

.culture img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.culture .text h1 {
    padding: 20px 0 0 20px;
    margin: 0;
}

.culture .date {
    margin-top: 15px;
    padding: 0 0 0 20px;
}

.culture .comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 0 20px;
    margin-top: 5px;
}

.culture .box {
    background-color: #fff;
    display: flex;
    /* #18  copy*/
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
    position: relative;
    margin: 15px 15px 15px 0;
    /*box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;*/
}

.culture .images {
    position: relative;
    height: 150px;
}

.culture img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.culture .text h1 {
    padding: 20px 0 0 20px;
    margin: 0;
}

.culture .date {
    margin-top: 15px;
    padding: 0 0 0 20px;
}

.culture .comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 0 20px;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    main .Culture {
        flex-direction: column;
    }
    .Culture {
        width: 100%;
    }
    .sideContent {
        width: 100%;
    }
}